.site-main .skills {
  padding: 1rem 0rem;
  margin: 4rem 0rem;
}

.site-main .skills .first-row .col-lg-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin: 0 0rem;
}

.site-main .skills .first-row .col-lg-1 > .single-skill {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  box-sizing: none;
  margin: 2rem 0;
  width: 290px;
  height: 130px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}
.site-main .skills .first-row .col-lg-1 > .single-skill:hover {
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.site-main .skills .first-row .col-lg-1 > img {
  width: 50%;
}

#slider {
  overflow: hidden;
}

#slider .row {
  position: relative;
  width: 300%;
  margin: 5rem 0px;
  left: 0;
}

.site-main .services-area {
  padding: 7rem 2rem 0rem 2rem;
  margin-bottom: -100px;
}
.site-main .services-area .services-title {
  padding: 0 14rem;
}

.site-main .services-area .services-title h1 {
  font-size: 35px;
}

.site-main > .services-area .services {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  height: 20rem;
  margin: 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
}
.site-main > .services-area .services:hover {
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

#portfolio {
  padding-top: 220px;
}

.site-main .project-area {
  padding: 4rem 0;
  width: 100%;
}

.project-area .our-project {
  margin-top: 3rem;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

.our-project span a {
  color: #777777;
  margin-right: 1rem;
  text-decoration: underline;
}

.form-control {
  font: "Roboto", sans-serif 18px;
  outline: none;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
  padding: 30px 10px;
  width: 100%;
  position: relative;
  z-index: 2;
  margin: 0;
}

#contact .wrap {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 450px auto 0 auto;
}

#contact .box {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6em;
  top: 5%;
  width: 100%;
}

.contact-form {
  width: 100%;
  margin: 210px auto 0 auto;
}

.contact-form .input-block {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #FEA770;
  margin: 0;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact-form .input-block.textarea {
  height: auto;
}

.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}

.contact-row {
  margin: auto;
}

.contact-form .input-block .form-control {
  background-color: transparent;
  margin: 0;
  outline: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
  padding: 30px 10px;
  width: 100%;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #333;
}

.contact-form .square-button {
  background-color: #FEA770;
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  margin-top: 30px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact-form .square-button:hover,
.contact-form .square-button:focus {
  background-color: #FEA770;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.header .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header .main-menu .navbar {
  padding: 1rem 20rem;
}

.header .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 1.7rem;
  color: #6161AE;
}

.header .main-menu .navbar-nav .active a {
  background: #6161AE;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header .main-menu .navbar-nav a:hover {
  background: #6161AE;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  z-index: 999;
  transition: background 1s ease;
}

.site-main .about {
  padding: 8rem 5rem;
}

#about {
  padding-top: 190px;
}

.site-main .about .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px "Roboto", sans-serif;
  letter-spacing: 21px;
}

.site-main .about .about-title .paragraph > p {
  padding: 0.4rem 0;
}

p.para {
  color: #777777;
}

.sec1 {
  width: 100%;
  height: 200px;
  position: relative;
}

.footer {
  width: 100%;
  height: 200px;
  background: #6161AE;
  position: relative;
}

.footer:before {
  content: "";
  width: 50vw;
  height: 120px;
  position: absolute;
  top: -48px;
  left: 0;
  background: #6161AE;
  transform: skewY(8deg);
}

.footer:after {
  content: "";
  width: 50vw;
  height: 120px;
  position: absolute;
  top: -48px;
  right: 0;
  background: #6161AE;
  -webkit-transform: skewY(-8deg);
  -ms-transform: skewY(-8deg);
  transform: skewY(-8deg);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.copyright {
  bottom: -280px;
  color: #D6D6DE;
  text-align: center;
  position: absolute;
}

#container {
  min-height: 100%;
  position: relative;
}

#header {
  padding: 10px;
}

#body {
  padding: 10px;
  padding-bottom: 80px;
}

#footer {
  position: absolute;
  bottom: 0;
  margin-left: -26px;
  width: 100%;
  height: 80px;
}

.social-media {
  position: relative;
  z-index: 100;
  padding-right: 40px;
  margin-top: 100px;
  float: right;
}

.social-item {
  display: inline;
  font-size: 22px;
}
.social-item a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #fff;
  color: #D6D6DE;
  margin: 10px 0px;
  display: inline-block;
  font-size: 20px;
  padding: 10px 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.social-item a:hover {
  border: 1px solid #FEA770;
  color: #FEA770;
}

.project-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  border: 2px solid #ebebeb;
  width: 60%;
}

.blog-twitter {
  padding-top: 6rem;
}

.ecommerce-title {
  font: normal bold 30px/30px "Roboto", sans-serif;
  color: #6161AE;
  text-align: center;
  margin-top: 2rem;
}

.caption {
  font-family: "Lobster Two", cursive;
  color: #FEA770;
  font-size: 20px;
  margin: -50px 0 0 20%;
}

.project-details {
  margin: 6rem auto 2rem auto;
  width: 60%;
  padding: 0.5rem;
  border: 1px solid #FEA770;
}
.project-details h2 {
  text-align: center;
  color: #FEA770;
  font-family: "Lobster Two", cursive;
}

.project-details ul li {
  color: #6161AE;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.mb {
  padding-bottom: 30px;
}

* {
  font-family: "Roboto", sans-serif;
}

.header-404 {
  color: #6161AE;
}

.img-404 {
  margin-top: -20px;
}

.container-404 {
  text-align: center;
  padding-top: 20px;
}

body {
  height: 100%;
  overflow-x: hidden;
  min-height: 100%;
}

.site-main .site-banner {
  background: white;
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}
.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18rem;
  background: #6161AE;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

.title-text {
  font: normal bold 50px/72px "Roboto", sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
}

button:focus,
button:active button:hover .btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}

.button {
  padding: 0.8rem 2.2rem;
  font: normal 500 16px/20px "Roboto", sans-serif;
  position: relative;
  border: 2px solid #FEA770;
  border-radius: 4px;
}

.button.primary-button {
  background: #FEA770;
  background-clip: padding-box;
  color: whitesmoke;
  transition: background 0.6s ease;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}
.button.primary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: #FEA770;
  content: " ";
  z-index: -1;
  border-radius: 4px;
}

.button.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: #6161AE;
}

.button.secondary-button {
  background: white;
  background-clip: padding-box;
  transition: background 0.6s ease;
}
.button.secondary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: #FEA770;
  content: " ";
  z-index: -1;
  border-radius: 4px;
}

.button.secondary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: #6161AE;
}

.skills-text {
  color: #777777;
}

.title-h1 {
  font: normal bold 50px/72px "Roboto", sans-serif;
}

/*# sourceMappingURL=main.css.map */
