@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans:wght@400&display=swap");
.social-media {
  list-style-type: none;
  float: right;
  margin-right: 4%;
}

.social-media li a {
  color: white;
}
.social-media li a:hover {
  color: #aeaeb1;
}

.social-media li {
  display: inline;
  padding: 8px;
  font-size: 22px;
}

.hero-image .social-media li {
  font-size: 26px;
}

.hero-image .social-media {
  margin-top: 30px;
}

.portfolio-header {
  color: white;
  font-size: 24px;
  font-family: "Merriweather", serif;
  text-align: center;
  text-decoration: underline;
}

main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.cards {
  grid-column: 2/span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  background: white;
  color: #12212f;
  margin-top: 5%;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  padding: 1%;
  text-align: center;
  grid-column-end: span 6;
  display: flex;
  flex-direction: column;
  box-shadow: #5c6874 5px 5px 15px;
}

@media screen and (max-width: 600px) {
  .cards {
    grid-column: 2/span 7;
    grid-template-columns: repeat(8, minmax(auto, 60px));
  }

  .card {
    grid-column-end: span 7;
    display: flex;
    flex-direction: column;
  }
}
.link-btn {
  text-decoration: none;
  color: #12212f;
  font-weight: 700;
  border: 2px #12212f solid;
  border-radius: 20%;
  padding: 4px;
  width: 40%;
}

.code-btn {
  float: right;
  margin-left: 50%;
  margin-top: -30px;
}

.card4 .link-btn {
  margin-left: 30%;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
}

.wrapper-form {
  width: 100%;
  top: -50px;
  padding: 50px;
  left: 5%;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .wrapper-form {
    left: 25%;
    width: 60%;
  }
}
input,
textarea {
  top: 20px;
  width: 80%;
  height: 38px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contact-header {
  margin-top: 10%;
  text-align: center;
  color: #12212f;
  font-family: "Merriweather", serif;
  font-size: 24px;
  text-decoration: underline;
}

input {
  margin: 15px;
  height: 45px;
}

textarea {
  margin: 20px 20px 0px 17px;
  height: 140px;
}

.form-area {
  height: 390px;
  width: 80%;
}

.form-area input {
  padding: 10px;
  border: 3px solid #12212f;
  width: 100%;
  margin-bottom: 20px;
}

.form-area textarea {
  padding: 10px;
  border: 3px solid #12212f;
  width: 100%;
}

.wrap {
  height: 60px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.box {
  padding: 1em;
  height: 60px;
  text-align: center;
}

.form-btn {
  border: 2px solid #12212f;
  background: none;
  color: #12212f;
  font-weight: 700;
  padding: 8px;
  margin-top: 20px;
  margin-left: 18px;
  font-size: 14px;
}
.form-btn:hover {
  background: #12212f;
  border: none;
  padding: 8px;
  border: 2px solid #12212f;
  color: white;
}

nav {
  background-color: #12212f;
  overflow: hidden;
  width: 100vw;
  margin-left: -8px;
  top: 0;
  position: sticky;
}
nav ul {
  list-style: none;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav ul li {
  padding: 13px 20px;
}
@media (max-width: 700px) {
  nav ul li {
    width: 50%;
    text-align: center;
  }
}
nav ul a {
  font-weight: 700;
  font-size: 0.9em;
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
nav ul a:hover {
  text-decoration: underline;
}

.about-me p {
  font-family: "Noto Sans", sans-serif;
  width: 50%;
  float: right;
  text-align: justify;
  margin-right: 20%;
}

.about-me h2 {
  text-decoration: underline;
  font-size: 24px;
  font-family: "Merriweather", serif;
  text-align: center;
}

.img-me {
  border-radius: 50%;
  width: 9%;
  height: 14%;
  margin-left: 17%;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .about-me p {
    margin-right: 14%;
  }

  .img-me {
    width: 21%;
    height: 35%;
    margin-left: 8%;
  }
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  margin-bottom: -8px;
  margin-left: -8px;
}

@media screen and (max-width: 600px) {
  .copyright {
    text-align: center;
    margin-top: 4%;
  }
}
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.light-bg {
  background-color: white;
  padding: 5% 0;
  height: 350px;
  color: #12212f;
}

@media screen and (max-width: 600px) {
  .light-bg {
    height: 550px;
  }
}
.hero-image {
  background: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: -38px;
  margin-left: -8px;
}

h1 {
  color: white;
  font-family: "Merriweather", serif;
  text-align: right;
  font-size: min(max(35px, 3vw), 38px);
  font-weight: 200;
  margin-right: 12%;
  padding-top: 255px;
}

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    margin-right: 0;
  }
}
span {
  line-height: 3;
  display: block;
}

.dark-bg {
  background-color: #12212f;
  padding: 2%;
  margin-left: -8px;
  width: 100vw;
  color: white;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5em;
}

/*# sourceMappingURL=main.css.map */
