@media only screen and (max-width: 340px) {
  .header .main-menu .navbar,
  .header .main-menu .navbar .navbar-brand,
  .site-main .services-area {
    padding: 2%;
    margin: 0%;
  }

  .site-main .site-banner .site-title h1 {
    font-size: 41px;
  }

  .site-main > .services-area .services {
    width: 13rem;
  }
  .card_wrapper {
    width: 300px;
  }

#footer {
  margin-left: -294px;
}
}

@media only screen and (max-width: 792px) {
  .site-main .about .about-title h2 > span {
    font-size: 31px;
    letter-spacing: 10px;
  }
  .social-media {
    margin-top: -15px;
    margin-left: 40px;
  }

  .card_wrapper {
    width: 320px;
   display: flex;
   margin: 0 auto;
  }
 
  .site-main .skills .first-row .col-lg-1 > .single-skill {
    width: 260px;
  }

  #slider .row {
    position: relative;
    width: 500%;
    margin: 0px;
    left: -40px;
    animation: none important;
  }
  .contact-header {
    font-size: 35px;
  }
  .para {
    padding-bottom: 20px;
  }

  .link {
    height: 350px;
    margin-bottom: 230px;
    margin-left: -40px;
  }
  .button {
    margin-top: 30px;
  }

  .header .main-menu .navbar,
  .header .main-menu .navbar .navbar-brand,
  .site-main .services-area {
    padding: 2%;
    margin: 0%;
  }

  .site-main .project-area .button-group button {
    font: normal 500 18px/40px var(--roboto);
  }

  .site-main .about .about-title p {
    padding: 0%;
  }
}

@media only screen and (max-width: 1910px) {
  .header_area .main-menu .navbar {
    padding: 1rem;
  }

  .site-main .brand-area,
  .site-main .services-area .services-title,
  .site-main .about {
    padding: 3% 4%;
  }
}
 @media (min-width: 768px) and (max-width: 1024px) {
   .skills .container-fluid {
     margin-left: 30%;
   }
 }
 @media (min-width: 1281px) {
   .contact-wrap,
   .projects {
     margin-left: 200px;
   }
   .services-area {
     margin-left: 130px;
   }
}
