html {
    background: white;
    padding: 0 1em;   
}

body {
    background-color: white;
    margin: 1em auto;
    max-width: 50em;
}
p, ul {
    font-family: 'Sanchez', serif;
    font-size: 12px;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    display: flex;
    flex-direction: column;
}
.logo {
    visibility: hidden;
}
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #6161AE;
    height: 150px;
}
.logo {
    background: url("./images/logo.png") no-repeat;
    width: 32px;
    height: 32px;
    margin: 20px;
}

.title-container {
    align-items: center;
}
.name {
    color: #FEA770;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
}
.job-title {
    color: white;
    font-family: 'Sanchez', serif;
    text-transform: uppercase;
}
.content-body {
    display: flex;
    flex-direction: row;
}
.wrapper {
    margin: 20px;
}
.section-left {
    flex: 1;
    background-color: #FEA770;
}

.section-left ul {
list-style: none;
margin-left: -40px;
text-transform: uppercase;
font-size: 12px;
}

.footer {
    background-color: #6161AE;
    padding: 20px;
    font-family: 'Sanchez', serif;
    font-size: 12px;
    color: white;
}
.fa {
    font-size: 16px;
    margin: 5px;
}
h2 {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

h3 {
    text-transform: uppercase;
    font-size: 0.7em;
    font-family: 'Sanchez', serif;
    font-weight: normal;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Sanchez', serif;
    font-weight: normal;
    font-size: 0.8em;
    margin-top: -10px;
    font-style: italic;
    letter-spacing: 1px;
}
.section-right {
    flex: 2;
}
.section-right .wrapper {
margin-left: 50px;
}

.section-right ul {
    margin-left: -20px;
}
.section-right h2 {
    color: #FEA770;
    font-weight: bold;
}
@media only screen and (max-width: 768px) {
    .footer {
        width: 160%;
    }
    .header {
        width: 170%;
    }
  .wrapper, .section-right {
  width: 120%;
  }
   .fa {
      font-size: 18px;
      padding: 5px;
  }
  .skills, .contact, .social {
    padding: 20px 0;
}
}
.section-right h2 {
    line-height: 50px;
}