.site-main .about {
    padding: 8rem 5rem;
  }
  
  .site-main .about .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px $f-n;
  letter-spacing: 21px;
  }
  
  .site-main .about .about-title .paragraph > p {
    padding: .4rem 0;
  }
  
  p.para {
    color: $text-color;
  }
  