.about-me p {
    font-family: $ff-ss;
    width: 50%;
    float: right;
    text-align: justify;
    margin-right: 20%;
    }
    .about-me h2 {
        text-decoration: underline;
        font-size: 24px;
        font-family: $ff-s;
        text-align: center;
    }
    .img-me {
        border-radius: 50%;
        width: 9%;
        height: 14%;
        margin-left: 17%;
        margin-top: 20px;
    }
    @media screen and (max-width: 600px) {
        .about-me p {
            margin-right: 14%;
        }
        .img-me {
            width: 21%;
            height: 35%;
            margin-left: 8%;
        }
    }