.form-control {
    font: $roboto 18px;
    outline: none;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
      padding: 30px 10px;
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: transparent;
    margin: 0;
}

.contact-form .input-block label {
    position: absolute;
    left: 10px;
    top: 25px;
    display: block;
    margin: 0;
    font-weight: 400;
    z-index: 1;
    color: #aaa;
    font-size: 18px;
    line-height: 10px;
  }

  .wrap{
	width: 100%;
    height: 100%;
	margin-left: auto;
	margin-right: auto;
  position: relative;
  margin-top: 450px;
}
.box{
	font-size: 1.2em;
	line-height: 1.6em;
  text-align: center;
}
#section .wrap {
	text-align: center;
	width: 100%;
}
#section .box{
	text-align: center;
	margin: 5% 0 0 0;
    width: 100%;
}

.contact-form {
  width: 60%;
   margin: 200px auto 0 auto;
  padding: 0px 40px;
}
.contact-form .input-block {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid $orange;
  margin: 0;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact-form .input-block.textarea {
  height: auto;
}
.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}
.contact-form .input-block label {
  position: absolute;
  left: 10px;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 400;
  z-index: 1;
  color: #aaa;
  font-size: 18px;
  line-height: 10px;
}
.contact-form .input-block .form-control {
    background-color: transparent;
    margin: 0;
    outline: none;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    padding: 30px 10px;
    width: 100%;
    position: relative;
    z-index: 2;
    font-size: 18px;
    color: #333;
  }
.contact-form .square-button {
    background-color: $orange;
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0 60px;
    height: 60px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
    margin-top: 30px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .contact-form .square-button:hover, .contact-form .square-button:focus {
    background-color: $orange;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    transform: translateY(-4px);
  }
 