.sec1 {
    width: 100%;
    height: 200px;
    position: relative;
}

.footer {
    width: 100%;
    height: 200px;
    background: $blue;
    position: relative;
}

.footer:before {
    content: "";
    width: 50vw;
    height: 120px;
    position: absolute;
    top: -48px;
    left: 0;
    background: $blue;
    transform: skewY(8deg);
}

.footer:after {
    content: "";
    width: 50vw;
    height: 120px;
    position: absolute;
    top: -48px;
    right: 0;
    background: $blue;
    -webkit-transform: skewY(-8deg);
    -ms-transform: skewY(-8deg);
    transform: skewY(-8deg);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.copyright {
    bottom: -280px;
    color: $lightgrey;
    text-align: center;
    position: absolute;
}

// keep footer at bottom
#container {
    min-height: 100%;
    position: relative;
}
#header {
    padding: 10px;
}
#body {
    padding: 10px;
    padding-bottom: 80px;
}
#footer {
    position: absolute;
    bottom: 0;
    margin-left: -26px;
    width: 100%;
    height: 80px;
}

//  social media icons
.social-media {
    position: relative;
    z-index: 1000;
    padding-right: 40px;
    margin-top: 100px;
    float: right;
}

.social-item {
    display: inline;
    font-size: 22px;
    a {
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        border: 1px solid #fff;
        color: $lightgrey;
        margin: 10px 0px;
        display: inline-block;
        font-size: 20px;
        padding: 10px 14px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        &:hover {
            border: 1px solid $orange;
            color: $orange;
        }
    }
}
