#portfolio {
    padding-top: 220px;
}
.site-main .project-area {
    padding: 4rem 0;
    width: 100%;
}
.project-area .our-project {
    margin-top: 3rem;
}
.site-main .project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
    font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

.our-project span a {
    color: $text-color;
    margin-right: 1rem;
    text-decoration: underline;
}
