.project-img {
display: flex;
justify-content: center;
align-items: center;
margin: 4rem auto;
 border: 2px solid $navy-blue;
width: 60%;
}

.ecommerce-title {
    font: normal bold 30px/30px $roboto;
    color: $navy-blue;
    text-align: center;
}
.caption {
    font-family: $caption;
    color: $orange;
    font-size: 20px;
    margin: -3rem 0 0 14.2rem;
}