.project-img {
@include flex;
justify-content: center;
align-items: center;
margin: 4rem auto;
 border: 2px solid rgb(235, 235, 235);
width: 60%;
}

.blog-twitter {
 padding-top: 6rem;
}
.ecommerce-title {
    font: normal bold 30px/30px $roboto;
    color: $blue;
    text-align: center;
    margin-top: 2rem;
}
.caption {
    font-family: $caption;
    color: $orange;
    font-size: 20px;
    margin: -50px 0 0 20%;
}
.project-details {
  margin: 6rem auto 2rem auto;
    width: 60%;
    padding: .5rem;
    border: 1px solid $orange;
 h2 {
    text-align: center;
    color: $orange;
    font-family: $caption;
}
}

.project-details ul li {
color: $blue;
font-family: $roboto;
font-size: 14px;
}

.mb {
    padding-bottom: 30px;
}