.site-main .skills {
  padding: 1rem 0rem;
  margin: 4rem 0rem;
}

.site-main .skills .first-row .col-lg-1 {
  @include flex;
  justify-content: space-between;
  margin: 0 0rem;
}

.site-main .skills .first-row .col-lg-1 > .single-skill {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  box-sizing: none;
  margin: 2rem 0;
  width: 290px;
  height: 130px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;

  &:hover {
    box-shadow: $box-shadow;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.site-main .skills .first-row .col-lg-1 > img {
  width: 50%;
}

#slider {
  overflow: hidden;
}

#slider .row {
  position: relative;
  width: 300%;
  margin: 5rem 0px;
  left: 0;
}
