$white: white;
$orange: #E2474B;
$navy-blue: #0E2449;


    $primary-color: #0E2449;
    $primary-color2: #E2474B;
    $title-color: #141313;
    $text-color: #777777;  
    $border-color: #201f1f17;  
    $shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
    $box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
