@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:800');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$ff-s: 'Merriweather', serif;
$ff-ss: 'Lato', sans-serif;
$ff-h: 'Raleway', sans-serif;
$f-n: 'Roboto', sans-serif;

$fw-n: 400;
$fw-b: 700;